<div class="pageContainer">
    <div class="navBar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/home#contactUs" >About Us</a></li>
          <li><a routerLink="/home#contactUs">Contact Us</a></li>
          <li><a routerLink="/home#featuresId" > Features</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="body">
      <div class="content">
        <div class="text">
          <h1 class="websiteTitle">Effortless Money Management</h1>
          <p class="catchPhrase">Take control of your finances with our intuitive <b>e-wallet</b>.
            Track your spendings, set budgets, and achieve your financial 
            goals effortlessly. <br>
          </p>
          
          <button (click)="goLogin()" class="getStarted">Get Started</button>
      </div>
        <div class="image">
          <img src="../../assets/w.png" alt="Description of the image">
        </div>
      </div>
    </div>
    <div id="featuresId" class="features">
      <h1>Features Showcase</h1>
      <div class="aboutItems">
        <div class="item">
          <h2> Painless budgeting</h2>
          <p> 
            It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.
          </p>
        </div>
        <div class="item">
          <h2> Expense Insight  </h2>
          <p>
            One report to give a clear view on your spending patterns. Understand where your money comes and goes with easy-to-read graphs.
          </p>
        </div>
        <div class="item">
          <h2> Simple money tracker</h2>
          <p> 
            It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.
          </p>
        </div>
         <div class="item">
        <h2>Secure & Private</h2>
        <p>
            Your financial data is our top priority. Benefit from state-of-the-art security features that ensure your information remains confidential and protected.
        </p>
    </div>
    <div class="item">
      <h2>Advanced Customization</h2>
      <p>
          Create accounts tailored to your needs,
          associate personalized categories,
          and set savings goals that align with your dreams.
      </p>
  </div>
        <div class="item">
          <h2>Financial Goal Planning</h2>
          <p>
              Set and achieve your financial goals effortlessly. Whether it's saving for a dream vacation or a major purchase, our app helps you plan and track your progress.
          </p>
      </div>
      </div>
    </div>
   
      <div id="contactUs" style="color: black;">
test if its working
      </div>
    
    
  </div>
  