
  
  .pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% of the viewport height */
  }
  
  .navBar {
    background-color: #333;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .text {
    flex: 1;
    padding: 20px;
  }
  
  .image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  img {
    max-width: 100%;
    min-width: 100%;
  }
  .websiteTitle{

    color: white;
    font-weight: bold;
    font-size: 63px;
    margin: 0;
  }

  .catchPhrase {
    font-size: 1.3em; /* Adjust the font size based on your design */
    color: #f0efef; /* Adjust the color based on your design */
    margin-top: 10px; /* Adjust the margin based on your design */
    line-height: 1.4; /* Adjust the line height for better readability */
    
  }
  .getStarted{
  //background-color: #4CAF50;/* Green background color, adjust to your preference */
  background-color: #7053b4; 
  color: #fff; /* Text color for the button in a dark theme */
  padding: 15px 25px; /* Adjust the padding based on your design */
  font-size: 1.2em; /* Adjust the font size based on your design */
  border: none;
  border-radius: 5px; /* Adjust the border-radius for rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;/* Smooth transition on hover */
 
}
  
/* Media query for smaller screens, adjust as needed */
@media screen and (max-width: 768px) {
  .websiteTitle {
    font-size: 30px; /* Adjust the font size for smaller screens */
  }

  .catchPhrase {
    font-size: 1em; /* Adjust the font size for smaller screens */
  }
  .getStarted{
    padding: 10px 15px; /* Adjust the padding based on your design */
    font-size: 1em; /* Adjust the font size based on your design */
    border: none;
    border-radius: 5px; /* Adjust the border-radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;/* Smooth transition on hover */
   
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen  and (min-width: 769px) and (max-width: 1300px) {
  .websiteTitle {
    font-size: 50px; /* Adjust the font size for smaller screens */
  }

  .catchPhrase {
    font-size: 1.1em; /* Adjust the font size for smaller screens */
  }
  .getStarted{
    padding: 15px 20px; /* Adjust the padding based on your design */
    font-size: 1em; /* Adjust the font size based on your design */
    border: none;
    border-radius: 5px; /* Adjust the border-radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease;/* Smooth transition on hover */
   
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    margin: 0 auto;
  }
}