<div class="pageContainer">
    <div class="navBar">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="body">
      <div class="content">
        <div class="text">
          <h1 class="websiteTitle">Effortless Money Management</h1>
          <p class="catchPhrase">Take control of your finances with our intuitive <b>e-wallet</b>.
            Track your spendings, set budgets, and achieve your financial 
            goals effortlessly. <br>
          </p>
          
          <button (click)="goLogin()" class="getStarted">Get Started</button>
      </div>
        <div class="image">
          <img src="../../assets/w.png" alt="Description of the image">
        </div>
      </div>
    </div>
    
  </div>
  